    <style  type="text/css" >

      body {
        padding-top: 0px;
        padding-bottom: 40px;
      }

    body.emem{
      margin-left: 0px;
      padding-left: 0px;
      padding-right:0px;
      padding-top: 0px;
    }

    td.emem:hover .button {
      opacity: 1;
    }

    td:hover + td {
    color: red; 
  }

    .bg {
        /* The image used */
        background-image: url('../Uploads/emem.gif');
        opacity:0.99;
        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center ;
        vertical-align: top;
        background-repeat: no-repeat;
        background-size: cover;
        
        padding-top: 0px;
        margin-top: 0px;
        position: relative;
    }
    @font-face {
    font-family: raleway;
    src: url(../fonts/raleway_thin.woff);
    font-weight: bold;
    }
    @font-face {
    font-family: lato;
    src: url(../fonts/lato_thin.woff);
    font-weight: bold;
    }

    
    /* For mobile phones: */
      h1.compendium {
          font-size: 45px;
          transform: translate(0%, 350%);
      }
        
      .emem-about{
        /*transform: translate(0%, -11%)*/
        transform: translate(0px, -350px)
      }
      .emem-about-page{
        /*transform: translate(0%, -11%)*/
        transform: translate(0px, -350px)
      }

      @media  (min-width: 460px) {
        /* For tablets: */
        h1.compendium {
          font-size: 70px;
          transform: translate(0%, 350%)}

        .emem-about {
        /*transform: translate(0%, -15%)*/
        }
  
      }
      @media (min-width: 1000px) {
        /* For desktop: */
        h1.compendium {
          font-size: 150px;
          transform: translate(0%, 400%)}

        .emem-about-page {
        transform: translate(0%, 0%)
        }
      } 


/*
      div.emem {
          transform: translate(0%, 300%);
      }
        
      @media  (min-width: 460px) {
        // Tablets 
        div.emem {
          transform: translate(0%, 200%)}
  
      }

      @media (min-width: 800px) {
        // Desktop
        div.emem {
          transform: translate(0%, 400%)}
      }*/

    </style>