<!DOCTYPE html>
<html lang="en">
  <head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta charset="utf-8">
    <title>EMEM ART [v0.8]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for Emem art fest">
    <meta name="author" content="IdeasBlockLT">
    <!-- Le styles -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/emem.css" rel="stylesheet">
    <link href="../static/css/slideshow.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->

    <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/button_group.css" rel="stylesheet">
  </head>
  <body class="emem">
    <div class="bg">
       <div class=" navbar navbar-inverse navbar-fixed-top" 
            style=" padding-left: 10%; 
                    padding-right:0px; 
                    margin-right:0px;
                    background-color: rgb(0,0,0,0.8); 
                    height:300px; 
                    box-shadow: 0 0 30px black;  
                    opacity: 1 ;">

      
        
        <div class=" container" >
          <a href='/'><h1 href="/" class="compendium"  style=" position: relative;
                                            
                                            font-weight: lighter; 
                                            color:lightgray; 
                                            font-family:'raleway',sans-serif;" >EmEm ART</h1></a>



          
            <!-- <div class="btn-group" style="transform: translate(0%, 300%);"> -->
            <div class="btn-group" >
              <a href="/program"><button>Program</button></a>
              <a href="/about"><button>About</button></a>
            </div>
          

        </div>
      <!-- </div> -->
    </div>




    <div  class="container" 
          style=" border-radius: 0px; 
                  padding-top: 350px; 
                  margin-bottom: 0px; 
                  padding-bottom: 0px ">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div  class="hero-unit emem-about-page" 
            style=" opacity: 0.8  ; 
                    background-color: rgb(0,0,0,0.8); 
                    box-shadow: 0 0 30px gray">

        <h1 class="row title" style=' margin-bottom: 0; 
                                      font-weight: lighter; 
                                      color:white; 
                                      font-family:"raleway",sans-serif; '>Art Festival</h1>
        <a href='https://www.tvds.lt/'><h3 class="row title" style='color:white; font-family:"lato";'>Trakų Vokės dvaro sodyba</a> 6th July </h3>

        <!-- <img src="../static/Uploads/manor.png"> -->
        <!-- ===================== SLIDESHOW  ======================= -->
        
        

        <div class="slideshow-container">

        <div class="mySlides fade">
          <img src="../static/Uploads/manor.png" style="width:100%">
          <div class="text">Trakų Vokės dvaro sodyba</div>
        </div>

        {% for row in data %}
          {% for item in row %}
            {% set list = item.split('#') %}
            {% if 'Artist' == list[0] %}
              {% set name = list[2]|replace(" ", "_") %}
              {% set url = '../static/profiles/{{name}}/photo.png' + list[1]%}
              <div class="mySlides fade">
                <a href='/artist/{{list[2]}}'>
                  <img  src="../static/profiles/{{name}}/photo.png" 
                        style=" width:100%;">
                </a>
                <div class="text">{{list[2]}}</div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}

<!--         <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="img_mountains_wide.jpg" style="width:100%">
          <div class="text">Caption Three</div>
        </div> -->


<!-- <br> -->

        <div style="text-align:center visibility=hidden">
          <span class="dot" style="visibility: hidden;"></span> 
        {% for row in data %}
          {% for item in row %}
            {% set list = item.split('#') %}
            {% if 'Artist' == list[0] %}
              <span class="dot" style="visibility: hidden;"></span> 
            {% endif %}
          {% endfor %}
        {% endfor %}
        </div>


        </div>
        
        <!-- ===================== /SLIDESHOW  ======================= -->
        <!-- <p><a class="btn btn-primary btn-large" href="/showSignUp"style='font-size: 15px'>Register!</a></p> -->
      </div>
      
    </div>



    <footer style="margin-top:0px ; padding-top:0px; margin-left: 80px">
       <a href="https://www.ideas-block.com"> <img src="../static/Uploads/ib.png" style="width: 30%; color:black">
            <p style='color: black;'
              >Idėjų blokas LT, VšĮ. (Ideas Block non-profit)
              <br>
              LT797290000000180185
            </p>
      </a>
    </footer>

    </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/assets/js/jquery.js"></script>
    <script src="../../static/assets/js/bootstrap-transition.js"></script>
    <script src="../../static/assets/js/bootstrap-alert.js"></script>
    <script src="../../static/assets/js/bootstrap-modal.js"></script>
    <script src="../../static/assets/js/bootstrap-dropdown.js"></script>
    <script src="../../static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../../static/assets/js/bootstrap-tab.js"></script>
    <script src="../../static/assets/js/bootstrap-tooltip.js"></script>
    <script src="../../static/assets/js/bootstrap-popover.js"></script>
    <script src="../../static/assets/js/bootstrap-button.js"></script>
    <script src="../../static/assets/js/bootstrap-collapse.js"></script>
    <script src="../../static/assets/js/bootstrap-carousel.js"></script>
    <script src="../../static/assets/js/bootstrap-typeahead.js"></script>
    <!-- To debbug upgrade for jquery
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

    <script src="../static/content/bootstrap/jquery-3.3.1.min.js"></script>
    
    <!-- <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> -->


    <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 4000); // Change image every 2 seconds
      }
    </script>

    <script type="text/javascript">
      console.log("Ideas Block 2019. yo!");
    </script> 


  </body>
</html>
</html>
